services:
# ---------------- DATABASES ----------------
  dashboard_main:
    build: ./dashboard
    ports:
      - "8502:8502"
    volumes:
      - ./dashboard:/app
      - ./results:/app/results
    working_dir: /app
    environment:
      - PYTHONPATH=/app
      - STREAMLIT_WATCHER_TYPE=none
    command: poetry run streamlit run 1_general_dashboard.py --server.port=8502 --server.address=0.0.0.0 --server.runOnSave=false

  api_influxdata:
    build: ./influxData_api
    ports:
      - "8009:8009"
    volumes:
      - ./influxData_api:/app
      - ./results:/app/results

    working_dir: /app
    environment:
      - PYTHONPATH=/app
    command: poetry run uvicorn main:app --host 0.0.0.0 --port 8009

# ---------------- MODEL MANAGER ---------------- 
  model_manager:
    build: ./model_manager
    ports:
      - "8008:8008"
    volumes:
      - ./model_manager:/app
      - ./results:/app/results
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /app
    environment:
      - PYTHONPATH=/app
    command: poetry run uvicorn main:app --host 0.0.0.0 --port 8008

# ---------------- MODELS ----------------
  lstm_model:
    build: lstm_model
    ports:
      - "8000:8000"
    volumes:
      - ./lstm_model:/app
      - ./results:/app/results
    working_dir: /app
    environment:
      - ENV=production  # Beispiel-Variable, kann angepasst werden
      - PYTHONPATH=/app
    command: poetry run uvicorn service.main:app --host 0.0.0.0 --port 8000
